.welcome-message {
    font-family: Calibri, sans-serif;
    font-size: 24px;
    color: #333;
    background-color: #f0f4f7;
    padding: 20px;
    margin: 20px 0;
    border-left: 6px solid #3E819B;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-message strong {
    color: #3E819B;
}
