.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3e819b;
    padding: 10px;
}

.menu-esquerdo {
    /* Estilos para o menu esquerdo */
}

.menu-direito {
    display: flex;
    align-items: center;
}

.user-dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3e819b;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
