<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laudo Médico</title>
        {#include navbar /}
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/laudo.css">
</head>
<body>

<h1>Laudo Médico</h1>

<textarea id="laudo" placeholder="Digite aqui o laudo ou atestado"></textarea>

<br>

<button id="imprimirBtn">Imprimir Laudo</button>

<script src="/js/laudoMedico.js"></script>
<script type="module" src="/js/loadNavbar.js"></script>

</body>
</html>
