<nav class="navbar">
    <div class="menu-esquerdo">
        <button id="menuToggle" class="menu-toggle">☰ Menu</button>
        <div id="menuContent" class="menu-content">
            <a href="/site_admin" id="inicioOption" class="btn-inicio">Início</a>
            <a id="usuarioOption" href="/site_admin/usuario_list">Usuário</a>
            <a id="atendimentoOption" href="/atendimento">Atendimento Recepção</a>
            <a id="retirarSenha" href="/retirarSenha" target="_blank">Retirar Senha</a>
            <a id="MedicoOption" href="/medico/tela">Atendimento Médico</a>
        </div>
    </div>
    <div class="menu-direito">
        <div class="dropdown">
            <button id="nomeUsuarioDropdown" class="dropdown-toggle">Nome do Usuário</button>
            <div id="dropdownContent" class="dropdown-content">
                <a href="/site_admin/conta" class="conta-content">Conta</a>
                <a href="/login" id="logout">Sair</a>

            </div>
        </div>
    </div>
    <script type="module" src="/js/loadNavbar.js"></script>
</nav>
