<div class="header">

</div>
<link rel="stylesheet" href="/css/nossaClinica.css">

<div class="container">
    <div class="section-info">
        <h3>On Focus</h3>
        <p>On Focus é uma clínica localizada no Setor Aeroporto, em Luziânia,
            especializada em oferecer serviços oftalmológicos abrangentes.
            Como uma clínica de oftalmologia, ela se dedica ao diagnóstico,
            tratamento e prevenção de uma ampla variedade de condições oculares.</p>
    </div>

    <div class="image-container">
        <img src="url_da_imagem" alt="Imagem da Clínica">
    </div>

    <div class="section-info">
        <h2>Nossa Missão</h2>
        <p>Fale sobre a missão da clínica, o cuidado com os pacientes e os valores.</p>
    </div>

    <div class="section-info">
        <h2>Infraestrutura</h2>
        <ul>
            <li>Equipamentos modernos</li>
            <li>Consultórios confortáveis</li>
            <li>Equipe capacitada</li>
        </ul>
    </div>
</div>

<div class="footer">
    <p>&copy; 2024 - Clínica Oftalmológica</p>
</div>