<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa Clínica</title>
    <link rel="stylesheet" href="/css/telaInicial.css">
</head>
<body>
<header>
    <h1>Nossa Clínica</h1>
</header>
<main>
    <p>Bem-vindo à nossa clínica! Aqui, você encontrará as melhores práticas e tratamentos para o cuidado com a sua visão.</p>
    <p>Fundada em 1990, nossa clínica se dedica a oferecer um atendimento humanizado e de qualidade. Estamos equipados com a mais moderna tecnologia para diagnósticos e tratamentos oftalmológicos.</p>
</main>
<footer>
    <a href="/home">Voltar para a página inicial</a>
</footer>
</body>
</html>
