<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial - Clínica</title>
    <link rel="stylesheet" href="/css/telaInicial.css">
</head>
<body>
<header>
    <nav>
        <ul class="menu">
            <li><a href="/home/nossa-clinica" id="nossaClinicaLink">Nossa clínica</a></li>
            <li><a href="/home/corpo-clinico" id="corpoClinicoLink">Corpo clínico</a></li>
            <li><a href="/home/convenios" id="conveniosLink">Convênios</a></li>
            <li><a href="/home/agendar-consulta" id="agendarConsultaLink">Agendar Consulta</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Bem-vindo à nossa clínica!</h1>
    <p>Escolha uma das opções acima para saber mais.</p>
</main>

<script src="js/telaInicial.js"></script>
</body>
</html>
