<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Oftalmológica</title>

</head>
<body>
<header>
        {#include navbarHome /}
    <link rel="stylesheet" href="/css/telaInicial.css">
</header>

<main id="content">

    <h1>Bem-vindo à Clínica Oftalmológica</h1>
    <p>Selecione uma opção no menu acima para saber mais.</p>
</main>

<script src="/js/telaInicial.js"></script>
</body>
</html>