<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuários</title>
        {#include navbar /}
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/usuarios.css">
</head>
<body>
<div class="container">
    <h1>Usuário</h1>

    <form id="searchForm">
        <label for="nome"></label><input type="text" id="nome" name="nome" placeholder="Nome do usuário">
        <label for="cpf"></label><input type="text" id="cpf" name="cpf" placeholder="CPF">
        <label for="email"></label><input type="email" id="email" name="email" placeholder="Email">
        <button type="submit">Buscar</button>
    </form>

    <div id="userList">
    </div>
    </div>

<div class="novo-usuario-container">
    <button id="novoUsuarioBtn" class="novoUsuario-btn">Novo Usuário</button>
</div>

    <script type="module" src="/js/loadNavbar.js"></script>
<script type="module" src="/js/usuarios.js"></script>
</body>
</html>
