<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuários</title>
    <link rel="stylesheet" href="/css/siteAdmin.css">
</head>
<body>
<div class="container">
    <h1>Gerenciamento de Usuários</h1>

    <form id="searchForm">
        <input type="text" id="nome" name="nome" placeholder="Nome do usuário">
        <input type="text" id="cpf" name="cpf" placeholder="CPF">
        <input type="email" id="email" name="email" placeholder="Email">
        <button type="submit">Buscar</button>
    </form>

    <ul id="userList">
        <!-- Lista de usuários será carregada aqui -->
    </ul>
    </div>

<div class="novo-usuario-container">
    <button id="novoUsuarioBtn">Novo usuário</button>
</div>

    <script type="module" src="/js/loadNavbar.js"></script>
<script type="module" src="/js/usuarios.js"></script>
</body>
</html>
